<div class="d-flex flex-column p-3 h-100 bg-body-secondary" id="side-nav">
    <a href="/" class="d-flex align-items-center ms-3 text-decoration-none text-reset" id="logo">
        <span class="fw-semibold fs-3">2coins</span>
    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto row-gap-2">
        <li class="nav-item">
            <a href="{% url 'dashboard' %}"
               class="nav-link d-flex {% if request.path_info == '/' %} active {% else %} text-secondary {% endif %}"
                    {% if request.path_info == '/' %} aria-current="page" {% endif %}>
                <span class="material-symbols-outlined me-3">dashboard</span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'account_list' %}"
               class="nav-link d-flex {% if "account" in request.resolver_match.url_name %} active {% else %} text-secondary {% endif %}"
                    {% if "account" in request.resolver_match.url_name %} aria-current="page" {% endif %}>
                <span class="material-symbols-outlined me-3">account_balance_wallet</span>
                Accounts
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'category_list' %}"
               class="nav-link d-flex {% if "category" in request.resolver_match.url_name %} active {% else %} text-secondary {% endif %}"
                    {% if "category" in request.resolver_match.url_name %} aria-current="page" {% endif %}>
                <span class="material-symbols-outlined me-3">category</span>
                Categories
            </a>
        </li>
        {% if request.user.is_superuser %}
            <li class="nav-item">
                <a href="{% url 'currency_list' %}"
                   class="nav-link d-flex {% if "currency" in request.resolver_match.url_name %} active {% else %} text-secondary {% endif %}"
                        {% if "currency" in request.resolver_match.url_name %} aria-current="page" {% endif %}>
                    <span class="material-symbols-outlined me-3">paid</span>
                    Currencies
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="{% url 'transaction_list' %}"
               class="nav-link d-flex {% if "transaction" in request.resolver_match.url_name %} active {% else %} text-secondary {% endif %}"
                    {% if "transaction" in request.resolver_match.url_name %} aria-current="page" {% endif %}>
                <span class="material-symbols-outlined me-3">receipt_long</span>
                Transactions
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'profile_edit' %}"
               class="nav-link d-flex {% if "profile" in request.resolver_match.url_name %} active {% else %} text-secondary {% endif %}"
                    {% if "profile_edit" in request.resolver_match.url_name %} aria-current="page" {% endif %}>
                <span class="material-symbols-outlined me-3">manage_accounts</span>
                Profile
            </a>
        </li>
    </ul>

    <hr>

    <div class="btn-group" role="group">
        <input type="radio" class="btn-check" name="btn-light-theme" id="btn-light-theme" autocomplete="off" checked
               onclick="go_light()">
        <label class="btn btn-outline-secondary d-flex justify-content-center" for="btn-light-theme"
               id="label-light-theme">
            <span class="material-symbols-outlined me-2">light_mode</span>
            Light
        </label>

        <input type="radio" class="btn-check" name="btn-dark-theme" id="btn-dark-theme" autocomplete="off"
               onclick="go_dark()">
        <label class="btn btn-outline-secondary d-flex justify-content-center" for="btn-dark-theme"
               id="label-dark-theme">
            <span class="material-symbols-outlined me-2">dark_mode</span>
            Dark
        </label>
    </div>

    <div class="mt-2">
        {% if request.user.is_authenticated %}
            <a type="button" class="btn btn-outline-primary w-100" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a type="button" class="btn btn-outline-primary w-100" href="{% url 'login' %}">Log in</a>
        {% endif %}
    </div>
</div>
