<div class="sidebar d-flex flex-column justify-content-between shadow" id="sidebar">
    <div>
        <div class="d-flex align-items-center" style="height: 40px">
            <a
                    href="/"
                    class="d-flex align-items-center text-decoration-none text-reset"
            >
                <div
                        style="
            width: 40px;
            height: 40px;
            background-color: #f4d03f;
            border-radius: 10px;
            margin-right: 12px;
          "
                ></div>
                <h2 class="fw-semibold sidebar-item">2coins</h2>
            </a>
        </div>

        <hr class="h-divider"/>

        <ul class="nav nav-pills flex-column gap-2">
            <li class="nav-item">
                <a
                        href="{% url 'dashboard' %}"
                        class="nav-link d-flex align-items-center text-decoration-none {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                        aria-current="page"
                >
                    <i
                            class="fa-duotone fa-solid fa-house-chimney fa-lg fa-fw"
                            style="margin-right: 12px; --fa-primary-color: #484848;"
                    ></i>
                    <span class="sidebar-item">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a
                        href="{% url 'account_list' %}"
                        class="nav-link d-flex align-items-center text-decoration-none {% if request.resolver_match.url_name == 'account_list' %}active{% endif %}"
                >
                    <i
                            class="fa-duotone fa-solid fa-wallet fa-lg fa-fw"
                            style="
              margin-right: 12px;
              --fa-primary-color: #484848;
            "
                    ></i>

                    <span class="sidebar-item">Accounts</span>
                </a>
            </li>

            <li class="nav-item">
                <a
                        href="{% url 'category_list' %}"
                        class="nav-link d-flex align-items-center text-decoration-none {% if request.resolver_match.url_name == 'category_list' %}active{% endif %}"
                >
                    <i
                            class="fa-duotone fa-shapes fa-lg fa-fw"
                            style="
              margin-right: 12px;
              --fa-primary-color: #484848;
            "
                    ></i>

                    <span class="sidebar-item">Categories</span>
                </a>
            </li>

            <li class="nav-item">
                <a
                        href="{% url 'transaction_list' %}"
                        class="nav-link d-flex align-items-center text-decoration-none {% if request.resolver_match.url_name == 'transaction_list' %}active{% endif %}"
                >
                    <i
                            class="fa-duotone fa-solid fa-file-invoice-dollar fa-lg fa-fw"
                            style="
              margin-right: 12px;
              --fa-primary-color: #484848;
            "
                    ></i>

                    <span class="sidebar-item">Transactions</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="sidebar-bottom">
        <a href="{% url 'transaction_add' %}" class="btn btn-outline-secondary d-flex justify-content-center align-items-center" style="min-height: 40px; min-width: 40px">
            <i class="fa-regular fa-minus-square fa-lg fa-fw" style="margin-right: 10px"></i>
            <span class="sidebar-item">Add transaction</span>
        </a>

        <hr class="h-divider"/>

        <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'profile' %}">
                <div class="d-flex align-items-center">
                    <div
                            style="
            width: 40px;
            height: 40px;
            background-color: #f4d03f;
            border-radius: 10px;
            margin-right: 12px;
          "
                    ></div>

                    <span class="sidebar-item" style="font-size: 16px;">Oleh Papka</span>
                </div>
            </a>

            <a href="{% url 'logout' %}" class="btn sidebar-item">
                <i
                        class="fa-duotone fa-solid fa-arrow-right-from-bracket fa-xl"
                        style="--fa-primary-color: #484848"
                ></i>
            </a>
        </div>
    </div>
</div>
