DATABASE_NAME=2coinsDB
DATABASE_USER=default_user
DATABASE_PASSWORD=1wq8
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE=postgres
DATABASE_ENGINE='django.db.backends.postgresql'

DEBUG=1
SECRET_KEY='foo'
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
ENABLE_AUTH0=0

AUTH0_CLIENT_ID='your_client_id'
AUTH0_CLIENT_SECRET='your_client_secret'
AUTH0_DOMAIN='your_domain'