{% extends 'delete_form.html' %}
{% load static %}

{% block form_block %}
    <form action="{% url 'category_delete' object.id %}" method="post">
        {% csrf_token %}

        <div class="mb-5">
            <h5>Delete Category "{{ object.name }}"?</h5>
        </div>

        <div class="d-flex justify-content-end column-gap-2 mt-4">
            <a href="{% url 'category' object.id %}" type="button" class="btn btn-outline-secondary">Back</a>
            <button class="btn btn-outline-danger" type="submit">Delete</button>
        </div>
    </form>
{% endblock %}
