{% extends 'list_objects.html' %}
{% load number_filters %}

{% block title %}2coins | {{ object.name }}{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'scroll_shadow.css' %}">
    <link rel="stylesheet" href="{% static 'budget/css/hover.css' %}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <style>
        /* Initially hide the extra columns */
        .extra-column {
            display: none;
        }

        /* When the table expands, show extra columns */
        .expanded .extra-column {
            display: table-cell;
        }

        .expanded-content {
            max-width: 700px !important;
            width: 700px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="w-100 vh-100">
        <div class="row m-0 vh-100 d-flex" style="padding: 20px; gap: 20px;">
        
            <div class="d-flex h-100 flex-column col justify-content-between shadow" id="table-col"
                 style="max-width: 520px; padding: 20px; border-radius: 20px; background-color: #FCFCFC">


                <div>

                    <div class="card"
                         style="width: 100%; margin-bottom: 16px; border-radius: 16px; border: 1px solid rgba(72, 72, 72, 0.4);">
                        <div class="card-body d-flex justify-content-between">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="card-title mb-0 me-2 d-flex align-items-center">
                                    <div class="d-flex justify-content-center align-items-center rounded-3 me-2"
                                         style="width: 40px; height: 40px; background-color: #{{ object.style.color }}2a">
                                        {% if object.style.icon %}
                                            <i class="{{ object.style.icon }} fa-xl"
                                               style="color: #{{ object.style.color }}"></i>
                                        {% endif %}
                                    </div>
                                    <h4>
                                        {{ object.name }}
                                    </h4>
                                </div>
                            </div>

                            <div class="d-flex gap-2 align-items-center">
                                <a class="btn btn-outline-warning"
                                   href="{% url 'category_edit' object.id %}">
                                    <i class="fa-regular fa-pen-to-square me-2"></i>
                                    Edit
                                </a>

                                <a class="btn btn-outline-danger"
                                   href="{% url 'category_delete' object.id %}">
                                    <i class="fa-regular fa-trash-can me-2"></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 d-flex justify-content-between align-items-center"
                         style="height: 40px; gap: 20px; margin-bottom: 16px">
                        <div class="input-group" style="width: 270px;">
                            <span class="input-group-text"><i
                                    class="fa-duotone fa-solid fa-calendar-days fa-lg"></i></span>
                            <input type="text" class="form-control" name="daterange" value="{{ date_range }}">
                        </div>

                        <button id="toggle-button" class="btn btn-outline-secondary"><i
                                class="fa-solid fa-expand"></i>
                        </button>
                    </div>


                    <hr class="h-divider"/>

                    <table class="table table-hover" id="txn-table" style="vertical-align: middle;">
                        <tbody>
                        {% for action in transactions %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex justify-content-center align-items-center rounded-2 me-2"
                                             style="width: 30px; height: 30px; {% if action.action_type == 'trf' %}background-color: #0CCAF02A{% else %}background-color: #{{ action.category.style.color }}2A{% endif %}">
                                            <i class="{% if action.action_type == 'trf' %}fa-duotone fa-solid fa-right-left{% else %}{{ action.category.style.icon }}{% endif %}"
                                               style="{% if action.action_type == 'trf' %}color: #0CCAF0{% else %}color: #{{ action.category.style.color }}{% endif %}"></i>
                                        </div>
                                        {% if action.action_type == 'trf' %}Transfer{% else %}
                                            {{ action.category.name }}{% endif %}
                                    </div>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {% if action.action_type == 'trf' %}
                                            <div class="d-flex justify-content-center align-items-center rounded-2 me-2">
                                                <i class="{{ action.account_from.style.icon }}"
                                                   style="color: #{{ action.account_from.style.color }}"></i>
                                            </div>
                                            {{ action.account_from.name }}

                                            <i class="fa-duotone fa-arrow-right mx-2 text-secondary"></i>

                                            <div class="d-flex justify-content-center align-items-center rounded-2 me-2">
                                                <i class="{{ action.account_to.style.icon }}"
                                                   style="color: #{{ action.account_to.style.color }}"></i>
                                            </div>
                                            {{ action.account_to.name }}
                                        {% else %}
                                            <div class="d-flex justify-content-center align-items-center rounded-2 me-2">
                                                <i class="{{ action.account.style.icon }}"
                                                   style="color: #{{ action.account.style.color }}"></i>
                                            </div>
                                            {{ action.account.name }}
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="text-end">
                                    {% if action.action_type == 'trf' %}
                                        {% if action.account_from.currency == action.account_to.currency %}
                                            <strong class="m-0 text-secondary">
                                                {{ action.amount_from|strip_trailing_zeros|int_space }} {{ action.account_from.currency.symbol }}
                                            </strong>
                                        {% else %}
                                            <strong class="m-0 text-secondary">
                                                {{ action.amount_from|strip_trailing_zeros|int_space }} {{ action.account_from.currency.symbol }}
                                            </strong>
                                            <span class="m-0 text-secondary">({{ action.amount_to|strip_trailing_zeros|int_space }} {{ action.account_to.currency.symbol }}
                                                )</span>
                                        {% endif %}
                                    {% else %}
                                        {% if action.amount_converted %}
                                            <strong class="m-0 {% if action.transaction_type == '-' %}text-danger{% else %}text-success{% endif %}">
                                                {% if action.amount > 0 and action.transaction_type == '+' %}
                                                    +{% elif action.amount > 0 and action.transaction_type == '-' %}
                                                    -{% endif %}{{ action.amount|strip_trailing_zeros|int_space }} {{ action.currency.symbol }}
                                            </strong> <span class="m-0 text-secondary">
                                            ({% if action.amount > 0 and action.transaction_type == '+' %}
                                            +{% elif action.amount > 0 and action.transaction_type == '-' %}
                                            -{% endif %}{{ action.amount_converted|strip_trailing_zeros|int_space }} {{ action.account.currency.symbol }})
                                        </span>
                                        {% else %}
                                            <strong class="m-0 {% if action.transaction_type == '-' %}text-danger{% else %}text-success{% endif %}">
                                                {% if action.amount > 0 and action.transaction_type == '+' %}
                                                    +{% elif action.amount > 0 and action.transaction_type == '-' %}
                                                    -{% endif %}{{ action.amount|strip_trailing_zeros|int_space }} {{ action.account.currency.symbol }}
                                            </strong>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="extra-column d-none text-center">
                                    <span class="text-secondary">{{ action.date|date:"d/m" }}</span>
                                </td>
                                <td class="extra-column d-none text-center">
                                    <span class="text-secondary">{{ action.description|default_if_none:"..." }}</span>
                                </td>
                                <td class="gap-2 text-end">
                                    <div class="dropend">
                                        <button class="btn btn-outline-secondary btn-sm" type="button"
                                                data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                aria-expanded="false">
                                            <i class="fa-regular fa-ellipsis"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item text-warning"
                                                   {% if action.action_type == 'trf' %}href="{% url 'transfer_edit' action.id %}"
                                                   {% else %}href="{% url 'transaction_edit' action.id %}"{% endif %}>
                                                <i class="fa-regular fa-pen-to-square me-2"></i>
                                                Edit
                                            </a></li>
                                            <li><a class="dropdown-item text-danger"
                                                   {% if action.action_type == 'trf' %}href="{% url 'transfer_delete' action.id %}"
                                                   {% else %}href="{% url 'transaction_delete' action.id %}"{% endif %}>
                                                <i class="fa-regular fa-trash-can-xmark me-2"></i>
                                                Delete
                                            </a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div class="card hover"
                     style="width: 100%; height: 50px; border-radius: 10px; border: 1px solid rgba(72, 72, 72, 0.4);">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="{% url 'transaction_add' %}" class="stretched-link"></a>
                        <i class="fa-solid fa-plus fa-xl text-secondary"></i>
                    </div>
                </div>
            </div>
        
            <div class="d-flex h-100 flex-column col shadow"
                 style="padding: 20px; border-radius: 20px; background-color: #FCFCFC"></div>
        </div>
    </div>
{% endblock %}



{% block custom_scripts %}
    <script>
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'This Week': [moment().startOf('isoWeek'), moment().endOf('isoWeek')],
                    'Last Week': [moment().subtract(1, 'week').startOf('isoWeek'), moment().subtract(1, 'week').endOf('isoWeek')],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'All time': [moment().subtract(100, 'year').startOf('month'), moment()]
                },
                "alwaysShowCalendars": true,
                "locale": {
                    "format": "MM/DD/YYYY",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                "drops": "auto"
            }, function (start, end, label) {
                const url = `{% url 'category' object.id %}?start_date=${start.format('YYYY-MM-DD')}&end_date=${end.format('YYYY-MM-DD')}`;
                window.location.href = url;
            });
        })
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById('toggle-button');
            const tableCol = document.getElementById('table-col');
            const extraColumns = document.querySelectorAll('.extra-column');
            const sidebar = document.getElementById('sidebar');
            const table = document.getElementById('txn-table');
            const icon = toggleButton.querySelector('i');

            toggleButton.addEventListener('click', function () {
                // Toggle extra columns visibility
                extraColumns.forEach(function (column) {
                    if (column.classList.contains('d-none')) {
                        column.classList.remove('d-none');
                    } else {
                        column.classList.add('d-none');
                    }
                });

                table.classList.toggle('expanded');
                tableCol.classList.toggle('expanded-content');
                sidebar.classList.toggle('minimized');

                if (icon.classList.contains('fa-expand')) {
                    icon.classList.remove('fa-expand');
                    icon.classList.add('fa-compress');
                    icon.classList.replace('fa-solid', 'fa-regular'); // Replace solid with regular if needed
                } else {
                    icon.classList.remove('fa-compress');
                    icon.classList.add('fa-expand');
                    icon.classList.replace('fa-regular', 'fa-solid'); // Replace regular with solid if needed
                }
            });
        });
    </script>
{% endblock %}

