{% extends 'create_form.html' %}
{% load static %}

{% block custom_static %}
    <link rel="stylesheet" href="{% static 'budget/css/accounts_create.css' %}">
{% endblock %}

{% block page-controls %}
    <a href="{% url 'category_list' %}" type="button" class="btn btn-outline-secondary">Back
        to {{ instance_name }}</a>
{% endblock %}


{% block form_block %}
    <form action="{% url 'category_edit' object.id %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'color' %}
                <div class="row mb-3">
                    <label for="id_color"
                           class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <input type="color" class="form-control form-control-color" id="id_color"
                               value="#8bc34a" name="color"
                               title="Choose your color" style="width: 5rem">
                    </div>
                </div>
            {% else %}
                <div class="row mb-3">
                    <label for="id-{{ field.name }}"
                           class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <input type="text" class="form-control" id="id-{{ field.name }}" name="{{ field.name }}"
                               placeholder="{{ field.label }}" value="{% if field.value %}{{ field.value }}{% endif %}">
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="d-flex justify-content-end column-gap-2 mt-4">
            <a href="{% url 'category_list' %}" type="button" class="btn btn-outline-danger">Cancel</a>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'budget/js/account_create.js' %}"></script>
{% endblock %}