{% extends 'base.html' %}
{% load intspace %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block title %}2coins | Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <canvas id="accounts_chart"></canvas>

                <div id="last-txns" class="d-flex flex-column rounded-4 border-2 bg-body-tertiary p-3">
                    {% for txn in last_txns %}
                        <div class="{% if not forloop.last %}mb-3{% endif %} border border-2 rounded p-2 d-flex justify-content-between">
                            <div class="card-title mb-0 me-2 d-flex align-items-center">

                                <div class="d-flex justify-content-center align-items-center rounded-2 me-2"
                                     style="width: 2.5rem; height: 2.5rem; background-color: {{ txn.category.color }}2A">
                                    <i class="{{ txn.category.icon }}"
                                       style="color: {{ txn.category.color }}"></i>
                                </div>

                                <div class="d-flex flex-column">
                                    <p class="m-0">
                                        {{ txn.category.name }}
                                        {% if txn.description %}
                                            <small class="text-secondary">({{ txn.description|default_if_none:"" }})</small>
                                        {% endif %}
                                    </p>
                                    <small class="m-0 text-secondary">
                                        <i class="{{ txn.account.icon }}"></i>
                                        {{ txn.account.name|default_if_none:"" }}
                                        {% if txn.transfer_account %}
                                            → <i class="{{ txn.transfer_account.icon }}"></i>
                                            {{ txn.transfer_account.name|default_if_none:"" }}
                                        {% endif %}
                                    </small>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-end justify-content-center ms-auto me-3">
                                {% if txn.amount_default_currency %}
                                    <strong class="m-0 {% if txn.txn_type == '-' %}text-danger{% else %}text-success{% endif %}">
                                        {% if txn.amount > 0 %}
                                            +{% endif %}{{ txn.amount|intspace }} {{ txn.currency.symbol }}
                                    </strong>
                                    <small class="m-0 text-secondary">
                                        {% if txn.amount > 0 %}
                                            +{% endif %}{{ txn.amount_default_currency|intspace }} {{ txn.account.currency.symbol }}
                                    </small>
                                {% else %}
                                    <strong class="m-0 {% if txn.txn_type == '-' %}text-danger{% elif txn.txn_type == '>' %}text-secondary{% else %}text-success{% endif %}">
                                        {% if txn.amount > 0 and txn.txn_type == '+' %}
                                            +{% endif %}{{ txn.amount|intspace }} {{ txn.account.currency.symbol }}
                                    </strong>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-8">
                <canvas id="money_chart"></canvas>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('accounts_chart').getContext('2d');

        const doughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: {{ data_acct.labels|safe }},
                datasets: [{
                    label: 'Balance',
                    data: {{ data_acct.data|safe }},
                    backgroundColor: {{ data_acct.colors|safe }},
                    hoverOffset: 4,
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                        position: "right",
                        align: "start"
                    }
                }
            }
        });

        const ctx1 = document.getElementById('money_chart').getContext('2d');

        const barChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: {{ data_cat.labels|safe }},
                datasets: [{
                    label: 'Categories',
                    data: {{ data_cat.data|safe }},
                    borderColor: {{ data_cat.colors|safe }},

                    backgroundColor: [
                        {% for color in data_cat.colors %}
                            "{{ color }}2a",
                        {% endfor %}
                    ],
                    borderWidth: 2,
                    borderRadius: 5,
                    borderSkipped: false,
                }]
            }
        });
    </script>

{% endblock %}