{% extends 'create_form.html' %}
{% load static %}

{% block custom_static %}
    <link rel="stylesheet" href="{% static 'budget/css/accounts_create.css' %}">
{% endblock %}

{% block page-controls %}
    <a href="{% url 'transaction_list' %}" type="button" class="btn btn-outline-secondary">Back
        to {{ instance_name }}</a>
{% endblock %}


{% block form_block %}
    <form action="{% url 'transaction_edit' object.id %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'ccy_type' %}
                <div class="row mb-3">
                    <label for="id_ccy_type" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <select class="form-select" id="id_ccy_type" aria-label="acct_type select" name="ccy_type">
                            {% for opt in acct_types %}
                                <option value="{{ opt.0 }}"
                                        {% if opt.0 == field.value %}selected{% endif %}>{{ opt.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% else %}
                <div class="row mb-3">
                    <label for="id-{{ field.name }}"
                           class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <input type="text" class="form-control" id="id-{{ field.name }}" name="{{ field.name }}"
                               placeholder="{{ field.label }}" value="{{ field.value }}">
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="d-flex justify-content-end column-gap-2 mt-4">
            <a href="{% url 'transaction_list' %}" type="button" class="btn btn-outline-danger">Cancel</a>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'budget/js/account_create.js' %}"></script>
{% endblock %}