{% extends 'list_objects.html' %}

{% block title %}2coins | {{ instance_name }}{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/css/hover.css' %}">
{% endblock %}

{% block body %}
    <div class="w-100 vh-100">
        <div class="row m-0 vh-100 d-flex">
            <div class="d-flex h-100 flex-column align-items-center p-4" style="max-width: 23rem">

                <div class="p-4 w-100 d-flex flex-column gap-4 overflow-y-scroll scrollbox">
                    {% for account in account_list %}
                        <div class="card rounded-4 border border-2 bg-body-secondary bg-opacity-25 hover"
                             style="min-width: 16rem; min-height: 10rem;">
                            <a href="{% url 'account' account.id %}" class="stretched-link text-reset"
                               style="text-decoration: none;"></a>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="card-title mb-1">
                                            {{ account.name }}
                                        </h5>
                                        <small class="text-body-secondary">Description</small>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center rounded-3"
                                         style="width: 3rem; height: 3rem; background-color: {{ account.color }}2a">
                                        <i class="{{ account.icon }} fa-xl"
                                           style="color: {{ account.color }}"></i>
                                    </div>
                                </div>

                                <h4 class="card-text">
                                    {% load intspace %}
                                    {{ account.total|intspace }} {{ account.currency.symbol }}
                                </h4>

                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="card rounded-4 p-4 border border-2 bg-body-secondary bg-opacity-25 hover"
                     style="min-width: 16rem; min-height: 5rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="{% url 'account_add' %}" class="stretched-link"></a>
                        <i class="fa-solid fa-plus fa-2xl text-secondary"></i>
                    </div>
                </div>
            </div>

            <div class="d-flex h-100 col">
                <div class="m-4">
                    <canvas id="accounts_chart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block custom_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('accounts_chart').getContext('2d');

        const doughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: {{ data_acct.labels|safe }},
                datasets: [{
                    label: 'Balance',
                    data: {{ data_acct.data|safe }},
                    backgroundColor: {{ data_acct.colors|safe }},
                    hoverOffset: 4,
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                        position: "right",
                        align: "start"
                    }
                }
            }
        });
    </script>

{% endblock %}