{% extends 'create_form.html' %}
{% load static %}

{% block custom_static %}
    <link rel="stylesheet" href="{% static 'budget/css/accounts_create.css' %}">
{% endblock %}

{% block form_block %}
    <form action="{% url 'account_add' %}" method="post">
        {% csrf_token %}

        {% for field in form %}

            {% if field.name == 'account_type' %}
                <div class="row mb-3">
                    <label for="id_account_type" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <select class="form-select" id="id_account_type" aria-label="account_type select"
                                name="account_type">
                            {% for value, name in form.fields.account_type.choices %}
                                <option value="{{ value }}"
                                        {% if field.value == value or forloop.first %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% elif field.name == 'allow_negative_balance' %}
                <div class="row mb-3">
                    <label for="id_allow_negative_balance" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <div class="form-check form-switch fs-4">
                            <input class="form-check-input" type="checkbox" role="switch" name="allow_negative_balance"
                                   id="id_allow_negative_balance">
                        </div>
                    </div>
                </div>
            {% elif field.name == 'color' %}
                <div class="row mb-3">
                    <label for="id_color"
                           class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <input type="color" class="form-control form-control-color" id="id_color"
                               value="#8bc34a" name="color"
                               title="Choose your color" style="width: 5rem">
                    </div>
                </div>
            {% elif field.name == 'deadline' %}
                <div class="savings-account">
                    <div class="row mb-3">
                        <label for="id_deadline"
                               class="col-sm-3 col-form-label">{{ field.label }}</label>
                        <div class="col">
                            <input type="date" class="form-control" id="id_deadline" name="deadline">
                        </div>
                    </div>
                </div>
            {% elif field.name == 'currency' %}
            {% elif field.name == 'balance' %}
                <div class="row mb-3">
                    <label for="id_balance"
                           class="col-sm-3 align-self-center">{{ field.label }}</label>
                    <div class="col input-group">
                        <input type="number" step="0.01"
                               class="form-control {% if field.errors %}is-invalid{% endif %}"
                               id="id_balance" placeholder="{{ field.label }}" name="balance">
                        <div class="input-group-text bg-body p-1">
                            <select class="form-select" id="id_currency" aria-label="acct_type select" name="currency">
                                {% for curr in currency_list %}
                                    <option value="{{ curr.id }}" {% if forloop.first %}selected{% endif %}>
                                        {% if curr.abbr == curr.symbol %}
                                            &nbsp;{{ curr.abbr }}&nbsp;
                                        {% else %}
                                            {{ curr.abbr }}&nbsp;&nbsp;{{ curr.symbol }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            {{ field.errors.as_text }}
                        </div>
                    </div>
                </div>
            {% elif field.name == 'initial_balance' %}
                <div class="savings-account">
                    <div class="row mb-3">
                        <label for="id_initial_balance"
                               class="col-sm-3 align-self-center">{{ field.label }}</label>
                        <div class="col input-group">
                            <input type="number" step="0.01"
                                   class="form-control {% if field.errors %}is-invalid{% endif %}"
                                   id="id_initial_balance" placeholder="{{ field.label }}" name="initial_balance">
                            <span class="input-group-text"></span>
                        </div>
                        <div class="invalid-feedback">
                            {{ field.errors.as_text }}
                        </div>
                    </div>
                </div>
            {% elif field.name == 'target_balance' %}
                <div class="savings-account">
                    <div class="row mb-3">
                        <label for="id_target_balance"
                               class="col-sm-3 align-self-center">{{ field.label }}</label>
                        <div class="col input-group">
                            <input type="number" step="0.01"
                                   class="form-control {% if field.errors %}is-invalid{% endif %}"
                                   id="id_target_balance" placeholder="{{ field.label }}" name="target_balance">
                            <span class="input-group-text"></span>
                        </div>
                        <div class="invalid-feedback">
                            {{ field.errors.as_text }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row mb-3">
                    <label for="id-{{ field.name }}"
                           class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <input type="text" class="form-control {% if field.errors %}is-invalid{% endif %}"
                               id="id-{{ field.name }}" name="{{ field.name }}"
                               placeholder="{{ field.label }}">
                        {% if field.help_text %}
                            <small class="text-muted ms-1">{{ field.help_text }}</small>
                        {% endif %}
                        <div class="invalid-feedback">
                            {{ field.errors.as_text }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="d-flex justify-content-end column-gap-2 mt-4">
            <a href="{% url 'account_list' %}" type="button" class="btn btn-outline-danger">Cancel</a>
            <button class="btn btn-primary" type="submit" name="form_s_submit">Create</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'budget/js/account_create.js' %}"></script>
{% endblock %}