{% extends 'list_objects.html' %}

{% block title %}2coins | {{ instance_name }}s{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/css/accounts.css' %}">
{% endblock %}

{% block page-controls %}
    <a href="{% url 'account_add' %}" type="button" class="btn btn-outline-success">Add new</a>
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap gap-4">
        {% for account in account_list %}
            <div class="card rounded-4 border border-2">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">
                        {{ account.name }}
                    </h5>

                    <p class="card-text mt-auto ms-auto">
                        {% load intspace %}
                        {{ account.balance|intspace }} {{ account.currency.symbol }}
                    </p>

                    <div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="{% url 'account' account.id %}"
                                   class="btn btn-sm btn-outline-primary">View</a>
                            </div>
                            <div>
                                <a href="{% url 'account_edit' account.id %}"
                                   class="btn btn-sm btn-outline-warning">Edit</a>
                                <a href="{% url 'account_delete' account.id %}"
                                   class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}