#profile-card {
    min-width: 350px;
}

#profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}