{% extends 'list_objects.html' %}

{% block title %}2coins | {{ instance_name }}{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/css/currency_list.css' %}">
{% endblock %}

{% block content %}
    <div id="currency_table" class="mx-auto">
        <table class="table table-hover table align-middle">
            <thead class="table table-bordered">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col" class="text-center">ABBR</th>
                <th scope="col" class="text-center">Symbol</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.get_ccy_type_display }}</td>
                    <td class="text-center">{{ object.abbr }}</td>
                    <td class="text-center">{{ object.symbol }}</td>
                    <td class="text-end">
                        <a href="{% url 'currency_edit' object.id %}"
                           class="btn btn-sm btn-outline-warning">Edit</a>
                        <a href="{% url 'currency_delete' object.id %}"
                           class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}