{% extends 'create_form.html' %}
{% load static %}

{% block custom_static %}
    <link rel="stylesheet" href="{% static 'budget/css/accounts_create.css' %}">
{% endblock %}

{% block form_block %}
    <form action="{% url 'transaction_edit' object.id %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'txn_type' %}
            {% elif field.name == 'date' %}
                <div class="row mb-3">
                    <label for="id_date"
                           class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <input type="date" class="form-control" id="id_date" name="date"
                               placeholder="{{ field.label }}" value="{{ field.value|date:'Y-m-d' }}">
                    </div>
                </div>
            {% elif field.name == 'category' %}
                <div class="row mb-3">
                    <label for="id_category" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <select class="form-select" id="id_category" aria-label="category select" name="category">
                            {% for cat in categories %}
                                <option value="{{ cat.0 }}"
                                        {% if cat.0 == form.category.value %}selected{% endif %}>{{ cat.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% elif field.name == 'account' %}
                <div class="row mb-3">
                    <label for="id_account" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <select class="form-select" id="id_category" aria-label="account select" name="account">
                            {% for acct in accounts %}
                                <option value="{{ acct.0 }}"
                                        {% if acct.0 == form.account.value %}selected{% endif %}>{{ acct.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% elif field.name == 'currency' %}
            {% elif field.name == 'amount_default_currency' %}
                <div class="row mb-3 {% if not object.currency %}visually-hidden{% endif %}" id="amount_default_currency_field">
                    <label for="id_amount_default_currency"
                           class="col-sm-3 align-self-center">{{ field.label }}</label>
                    <div class="col input-group">
                        <input type="text" class="form-control {% if field.errors %}is-invalid{% endif %}"
                               id="id_amount_default_currency" placeholder="{{ field.label }}"
                               name="amount_default_currency" value="{{ field.value }}">
                        <span class="input-group-text">{{ profile.main_currency.abbr }}&nbsp;&nbsp;{{ profile.main_currency.symbol }}</span>
                    </div>
                    <div class="invalid-feedback">
                        {{ field.errors.as_text }}
                    </div>
                </div>
            {% elif field.name == 'amount' %}
                <div class="row mb-3">
                    <label for="id_amount"
                           class="col-sm-3 align-self-center">{{ field.label }}</label>
                    <div class="col input-group">
                        <input type="text" class="form-control {% if field.errors %}is-invalid{% endif %}"
                               id="id_amount" placeholder="{{ field.label }}"
                               name="amount" value="{{ field.value }}">
                        <div class="input-group-text bg-body p-1">
                            <select class="form-select" id="id_currency" aria-label="acct_type select"
                                    name="currency">
                                {% for curr in currencies %}
                                    <option value="{{ curr.id }}"
                                            {% if curr == object.currency %}selected{% endif %}>{{ curr.abbr }}&nbsp;&nbsp;{{ curr.symbol }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        {{ field.errors.as_text }}
                    </div>
                </div>
            {% else %}
                <div class="row mb-3">
                    <label for="id-{{ field.name }}"
                           class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col">
                        <input type="text" class="form-control" id="id-{{ field.name }}" name="{{ field.name }}"
                               placeholder="{{ field.label }}" value="{% if field.value %}{{ field.value }}{% endif %}">
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="d-flex justify-content-end column-gap-2 mt-4">
            <a href="{% url 'transaction_list' %}" type="button" class="btn btn-outline-danger">Cancel</a>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'budget/js/account_create.js' %}"></script>
    <script>
        const select = document.getElementById('id_currency');
        const defaultCurrencyDiv = document.getElementById('amount_default_currency_field');

        select.addEventListener('change', () => {
            if (select.value === select.options[0].value) {
                // First option selected, hide div
                defaultCurrencyDiv.classList.add('visually-hidden');
            } else {
                // Non-default option, show div
                defaultCurrencyDiv.classList.remove('visually-hidden');
            }
        });
    </script>
{% endblock %}