{% extends 'create_form.html' %}
{% load static %}

{% block custom_static %}
    <link rel="stylesheet" href="{% static 'budget/css/accounts_create.css' %}">
{% endblock %}

{% block form_block %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        {% if category %}
            <a href="{% url 'category' category.id %}"
               style="text-decoration: none;"
               class="text-reset">
                <h5 class="card-title mb-0 d-flex align-items-center">
                    <div class="d-flex justify-content-center align-items-center rounded-3 me-3"
                         style="width: 2.5rem; height: 2.5rem; background-color: {{ category.style.color }}2a">
                        {% if category.style.icon %}
                            <i class="{{ category.style.icon }}"
                               style="color: {{ category.style.color }}"></i>
                        {% endif %}
                    </div>
                    {{ category.name }} transaction:
                </h5>
            </a>
        {% elif account %}
            <a href="{% url 'account' account.id %}"
               style="text-decoration: none;"
               class="text-reset">
                <h5 class="card-title mb-0 d-flex align-items-center">
                    <div class="d-flex justify-content-center align-items-center rounded-3 me-3"
                         style="width: 2.5rem; height: 2.5rem; background-color: {{ account.style.color }}2a">
                        {% if account.style.icon %}
                            <i class="{{ account.style.icon }}"
                               style="color: {{ account.style.color }}"></i>
                        {% endif %}
                    </div>
                    {{ account.name }} transaction:
                </h5>
            </a>
        {% else %}
            <h5>Adding transaction:</h5>
        {% endif %}
    </div>

    <form action="{% url 'transaction_add' %}" method="post">
        {% csrf_token %}

        {# Transaction type field #}
        <div class="row mb-3">
            <label for="id_transaction_type"
                   class="col-sm-3 col-form-label">{{ form.transaction_type.label }}</label>
            <div class="col">
                <select class="form-select" id="id_transaction_type" aria-label="transaction_type select"
                        name="transaction_type" onchange="updateTransactionType();">
                    {% for opt in transaction_type_list %}
                        <option value="{{ opt.0 }}"
                                {% if form.transaction_type.value == opt.0 or forloop.first %}selected{% endif %}>{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {# Category field #}
        <div class="row mb-3">
            <label for="id_category" class="col-sm-3 col-form-label">{{ form.category.label }}</label>
            <div class="col">
                <select class="form-select" id="id_category" aria-label="category select" name="category">
                    {% for cat in category_list %}
                        <option value="{{ cat.id }}"
                                {% if acct.value == category.id or forloop.first %}selected{% endif %}>{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {# Account field #}
        <div class="row mb-3">
            <label for="id_account" class="col-sm-3 col-form-label">{{ form.account.label }}</label>
            <div class="col">
                <select class="form-select" id="id_account" aria-label="account select" name="account">
                    {% for acct in account_list %}
                        <option value="{{ acct.id }}"
                                {% if acct.value == account.id or forloop.first %}selected{% endif %}>{{ acct.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {# Amount + currency field #}
        <div class="row mb-3">
            <label for="id_amount"
                   class="col-sm-3 align-self-center">{{ form.amount.label }}</label>
            <div class="col input-group">
                <span class="input-group-text amount_transaction_type">{{ form.transaction_type.value }}</span>
                <input type="number" min="0.01" step="0.01" oninput="validateFloatInput(this)"
                       class="form-control {% if form.amount.errors %}is-invalid{% endif %}"
                       id="id_amount" placeholder="{{ form.amount.label }}" required
                       name="amount">
                <div class="input-group-text bg-body p-1">
                    <select class="form-select" id="id_currency" aria-label="acct_type select" name="currency">
                        {% for curr in currency_list %}
                            <option value="{{ curr.id }}" {% if forloop.first %}selected{% endif %}>
                                {% if curr.abbr == curr.symbol %}
                                    &nbsp;{{ curr.abbr }}&nbsp;
                                {% else %}
                                    {{ curr.abbr }}&nbsp;&nbsp;{{ curr.symbol }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="invalid-feedback">
                {{ form.amount.errors.as_text }}
            </div>
        </div>

        {# Amount in account's currency field #}
        <div class="row mb-3 hidden" id="amount_converted_field">
            <label for="amount_converted"
                   class="col-sm-3 align-self-center">{{ form.amount_converted.label }}</label>
            <div class="col input-group">
                <span class="input-group-text amount_transaction_type">{{ form.transaction_type.value }}</span>
                <input type="number" min="0.01" step="0.01" oninput="validateFloatInput(this)"
                       class="form-control {% if form.amount_converted.errors %}is-invalid{% endif %}"
                       id="amount_converted" placeholder="{{ form.amount_converted.label }}"
                       name="amount_converted">
                <span class="input-group-text" id="amount_converted_text"></span>
            </div>
            <div class="invalid-feedback">
                {{ form.amount_converted.errors.as_text }}
            </div>
        </div>

        {# Date field #}
        <div class="row mb-3">
            <label for="id_date"
                   class="col-sm-3 col-form-label">{{ form.date.label }}</label>
            <div class="col">
                <input type="date" class="form-control" id="id_date" name="date"
                       placeholder="{{ form.date.label }}">
            </div>
        </div>

        {# Description field #}
        <div class="row mb-3">
            <label for="id-{{ form.description.name }}"
                   class="col-sm-3 col-form-label">{{ form.description.label }}</label>
            <div class="col">
                <input type="text" class="form-control {% if form.description.errors %}is-invalid{% endif %}"
                       id="id-{{ form.description.name }}" name="{{ form.description.name }}"
                       placeholder="{{ form.description.label }}">
                <div class="invalid-feedback">
                    {{ form.description.errors.as_text }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end column-gap-2 mt-4">
            <a href="{% url 'transaction_list' %}" type="button" class="btn btn-outline-danger">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script>
        const accounts = {{ account_list|safe }};

        function validateFloatInput(input) {
            const value = input.value;
            const isValid = /^\d*\.?\d*$/.test(value) && !(value.startsWith('0') && value.length > 1 && !value.startsWith('0.'));
            if (!isValid) {
                input.value = value.slice(0, -1);
            }
        }

        function updateTransactionType() {
            const selectElement = document.getElementById('id_transaction_type');
            const selectedOptionValue = selectElement.options[selectElement.selectedIndex].value;
            const spanElements = document.getElementsByClassName('amount_transaction_type');
            for (let i = 0; i < spanElements.length; i++) {
                spanElements[i].textContent = selectedOptionValue;
            }
        }
    </script>

    <script src="{% static 'budget/js/transaction_create.js' %}"></script>
{% endblock %}