{% extends 'list_objects.html' %}
{% load intspace %}

{% block title %}2coins | Transactions{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/css/currency_list.css' %}">
    <link rel="stylesheet" href="{% static 'scroll_shadow.css' %}">
    <link rel="stylesheet" href="{% static 'budget/css/hover.css' %}">
{% endblock %}


{% block body %}
    <div class="w-100 vh-100">
        <div class="row m-0 vh-100 d-flex">
            <div class="d-flex h-100 flex-column align-items-center p-4" style="max-width: 33rem">

                <div class="p-3 w-100 d-flex flex-column overflow-y-scroll scrollbox">
                    {% for action_group in combined_actions %}
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="m-0">{{ action_group.date }}</h6>

                            {% if action_group.total %}
                                {# Totals currency check#}
                                {% if action_group.total > 0 %}
                                    <strong class="text-success">
                                        +{{ action_group.total|intspace }} {{ action_group.actions.0.action.account.currency.symbol }}
                                    </strong>
                                {% elif action_group.total == 0 %}
                                    <strong class="text-secondary">
                                        {{ action_group.total|intspace }} {{ action_group.actions.0.action.account.currency.symbol }}
                                    </strong>
                                {% else %}
                                    <strong class="text-danger">
                                        {{ action_group.total|intspace }} {{ action_group.actions.0.action.account.currency.symbol }}
                                    </strong>
                                {% endif %}
                            {% endif %}
                        </div>

                        <hr>

                        {% for action_ in action_group.actions %}
                            <div class="mb-3 mx-2 border border-2 rounded p-2 d-flex justify-content-between">
                                <div class="card-title mb-0 me-2 d-flex align-items-center">
                                    {% if action_.action_type == 'trf' %}
                                        <div class="d-flex justify-content-center align-items-center rounded-2 me-2"
                                             style="width: 2.5rem; height: 2.5rem; background-color: #0CCAF02A">
                                            <i class="fa-solid fa-arrow-right-arrow-left" style="color: #0CCAF0"></i>
                                        </div>

                                        <div class="d-flex flex-column">
                                            <p class="m-0">
                                                Transfer
                                                {% if action_.action.description %}
                                                    <small class="text-secondary">({{ action_.action.description|default_if_none:""|truncatechars:15 }})</small>
                                                {% endif %}
                                            </p>
                                            <small class="m-0 text-secondary">
                                                <i class="{{ action_.action.account_from.style.icon }}"></i>
                                                {{ action_.action.account_from.name|default_if_none:"" }}
                                                → <i class="{{ action_.action.account_to.style.icon }}"></i>
                                                {{ action_.action.account_to.name|default_if_none:"" }}
                                            </small>
                                        </div>
                                    {% else %}
                                        <div class="d-flex justify-content-center align-items-center rounded-2 me-2"
                                             style="width: 2.5rem; height: 2.5rem; background-color: {{ action_.action.category.style.color }}2A">
                                            <i class="{{ action_.action.category.style.icon }}"
                                               style="color: {{ action_.action.category.style.color }}"></i>
                                        </div>

                                        <div class="d-flex flex-column">
                                            <p class="m-0">
                                                {{ action_.action.category.name }}
                                                {% if action_.action.description %}
                                                    <small class="text-secondary">({{ action_.action.description|default_if_none:""|truncatechars:15 }})</small>
                                                {% endif %}
                                            </p>
                                            <small class="m-0 text-secondary">
                                                <i class="{{ action_.action.account.style.icon }}"></i>
                                                {{ action_.action.account.name|default_if_none:"" }}
                                            </small>
                                        </div>
                                    {% endif %}
                                </div>

                                {% if action_.action_type == 'trf' %}
                                    <div class="d-flex flex-column align-items-end justify-content-center ms-auto me-3">
                                        {% if action_.action.account_from.currency == action_.action.account_to.currency %}
                                            <strong class="m-0 text-secondary">
                                                {{ action_.action.amount_from|intspace }} {{ action_.action.account_from.currency.symbol }}
                                            </strong>
                                        {% else %}
                                            <strong class="m-0 text-secondary">
                                                {{ action_.action.amount_from|intspace }} {{ action_.action.account_from.currency.symbol }}
                                            </strong>
                                            <small class="m-0 text-secondary">
                                                {{ action_.action.amount_to|intspace }} {{ action_.action.account_to.currency.symbol }}
                                            </small>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="d-flex flex-column align-items-end justify-content-center ms-auto me-3">
                                        {% if action_.action.amount_converted %}
                                            <strong class="m-0 {% if action_.action.transaction_type == '-' %}text-danger{% else %}text-success{% endif %}">
                                                {% if action_.action.amount > 0 %}
                                                    +{% endif %}{{ action_.action.amount|intspace }} {{ action_.action.currency.symbol }}
                                            </strong>
                                            <small class="m-0 text-secondary">
                                                {% if action_.action.amount > 0 %}
                                                    +{% endif %}{{ action_.action.amount_converted|intspace }} {{ action_.action.account.currency.symbol }}
                                            </small>
                                        {% else %}
                                            <strong class="m-0 {% if action_.action.transaction_type == '-' %}text-danger{% else %}text-success{% endif %}">
                                                {% if action_.action.amount > 0 and action_.action.transaction_type == '+' %}
                                                    +{% endif %}{{ action_.action.amount|intspace }} {{ action_.action.account.currency.symbol }}
                                            </strong>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                <div class="d-flex gap-3 align-items-center">
                                    <div class="vr"></div>

                                    <div class="dropdown" style="position: static;">
                                        <a class="btn btn-outline-secondary dropdown-toggle"
                                           href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item text-warning"
                                                   {% if action_.action_type == 'trf' %}href="{% url 'transfer_edit' action_.action.id %}"
                                                   {% else %}href="{% url 'transaction_edit' action_.action.id %}"{% endif %}>
                                                    <i class="fa-regular fa-pen-to-square me-2"></i>
                                                    Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-danger"
                                                   {% if action_.action_type == 'trf' %}href="{% url 'transfer_delete' action_.action.id %}"
                                                   {% else %}href="{% url 'transaction_delete' action_.action.id %}"{% endif %}>
                                                    <i class="fa-regular fa-trash-can me-2"></i>
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if not forloop.last %}
                            <div class="m-2"></div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="w-100 d-flex mt-3">
                    <div class="p-2 mx-3 w-100 card border-2 rounded-2 hover">
                        <div class="card-body d-flex justify-content-center">
                            <a href="{% url 'transaction_add' %}"
                               class="stretched-link"></a>
                            <i class="fa-solid fa-plus fa-xl text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex h-100 col">
                <div class="m-4 w-100 p-4">
                    <canvas id="txn_chart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block custom_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('txn_chart').getContext('2d');

        const barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ data_txn.labels|safe }},
                datasets: {{ data_txn.datasets|safe }}
            },
            options: {
                plugins: {
                    legend: {
                        legend: {display: false},
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });
    </script>
{% endblock %}