{% extends 'base.html' %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% load number_filters %}

{% block title %}2coins | Transactions{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/css/currency_list.css' %}">
    <link rel="stylesheet" href="{% static 'budget/css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'budget/css/tables.css' %}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

{% endblock %}


{% block body %}
    <div class="w-100 vh-100">
        <div class="row m-0 vh-100 d-flex" style="padding: 20px; gap: 20px">
            <div class="d-flex h-100 flex-column col shadow" id="table-col"
                 style="max-width: 520px; overflow-y: hidden; padding: 20px; border-radius: 20px; background-color: #FCFCFC">
                <div class="w-100 d-flex justify-content-between align-items-center"
                     style="height: 40px; gap: 20px;">
                    <div class="input-group" style="width: 270px">
                            <span class="input-group-text" style="background-color: transparent"><i
                                    class="fa-duotone fa-solid fa-calendar-days fa-lg"></i></span>
                        <input type="text" class="form-control" name="daterange" value="{{ date_range }}"
                               style="background-color: transparent">
                    </div>

                    <button id="toggle-button" class="btn btn-outline-secondary"><i class="fa-solid fa-expand"></i>
                    </button>
                </div>

                <hr class="h-divider"/>

                <div id="table-scroll-container" style="height: 100%; overflow-y: auto;">
                    <table class="table table-hover table_custom" id="txn-table"
                           style="vertical-align: middle; margin-bottom: 0">
                        <tbody id="combined-actions-body">
                        {% for action in combined_actions %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex justify-content-center align-items-center rounded-2 me-2"
                                             style="width: 30px; height: 30px; {% if action.action_type == 'trf' %}background-color: #0CCAF02A{% else %}background-color: #{{ action.category.color }}2A{% endif %}">
                                            <i class="{% if action.action_type == 'trf' %}fa-duotone fa-solid fa-right-left{% else %}{{ action.category.icon }}{% endif %}"
                                               style="{% if action.action_type == 'trf' %}color: #0CCAF0{% else %}color: #{{ action.category.color }}{% endif %}"></i>
                                        </div>
                                        {% if action.action_type == 'trf' %}Transfer{% else %}
                                            {{ action.category.name }}{% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {% if action.action_type == 'trf' %}
                                            <div class="d-flex justify-content-center align-items-center me-2">
                                                <i class="{{ action.account_from.icon }}"
                                                   style="color: #{{ action.account_from.color }}"></i>
                                            </div>
                                            {{ action.account_from.name }}

                                            <i class="fa-duotone fa-arrow-right mx-2 text-secondary"></i>

                                            <div class="d-flex justify-content-center align-items-center me-2">
                                                <i class="{{ action.account_to.icon }}"
                                                   style="color: #{{ action.account_to.color }}"></i>
                                            </div>
                                            {{ action.account_to.name }}
                                        {% else %}
                                            <div class="d-flex justify-content-center align-items-center me-2">
                                                <i class="{{ action.account.icon }}"
                                                   style="color: #{{ action.account.color }}"></i>
                                            </div>
                                            {{ action.account.name }}
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="text-end">
                                    {% if action.action_type == 'trf' %}
                                        {% if action.account_from.currency == action.account_to.currency %}
                                            <strong class="m-0 text-secondary">
                                                {{ action.amount_from|strip_trailing_zeros|int_space }} {{ action.account_from.currency.symbol }}
                                            </strong>
                                        {% else %}
                                            <strong class="m-0 text-secondary">
                                                {{ action.amount_from|strip_trailing_zeros|int_space }} {{ action.account_from.currency.symbol }}
                                            </strong>
                                            <span class="m-0 text-secondary">({{ action.amount_to|strip_trailing_zeros|int_space }} {{ action.account_to.currency.symbol }}
                                                )</span>
                                        {% endif %}
                                    {% else %}
                                        {% if action.amount_converted %}
                                            <strong class="m-0 {% if action.amount < 0 %}text-danger{% else %}text-success{% endif %}">
                                                {% if action.amount > 0 %}
                                                    +{% endif %}{{ action.amount|strip_trailing_zeros|int_space }} {{ action.currency.symbol }}
                                            </strong> <span class="m-0 text-secondary">
                                            ({% if action.amount > 0 %}
                                            +{% endif %}{{ action.amount_converted|strip_trailing_zeros|int_space }} {{ action.account.currency.symbol }})
                                        </span>
                                        {% else %}
                                            <strong class="m-0 {% if action.amount < 0 %}text-danger{% else %}text-success{% endif %}">
                                                {% if action.amount > 0 %}
                                                    +{% endif %}{{ action.amount|strip_trailing_zeros|int_space }} {{ action.account.currency.symbol }}
                                            </strong>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="extra-column d-none text-center">
                                    <span class="text-secondary">{{ action.date|date:"d/m" }}</span>
                                </td>
                                <td class="extra-column d-none text-center" style="max-width: 150px;">
                                    <span class="text-secondary">{{ action.description|default_if_none:"..." }}</span>
                                </td>
                                <td class="gap-2 text-end">
                                    <div class="dropend">
                                        <button class="btn btn-outline-secondary btn-sm" type="button"
                                                data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                aria-expanded="false">
                                            <i class="fa-regular fa-ellipsis"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item text-warning"
                                                   {% if action.action_type == 'trf' %}href="{% url 'transfer_edit' action.id %}"
                                                   {% else %}href="{% url 'transaction_edit' action.id %}"{% endif %}>
                                                <i class="fa-regular fa-pen-to-square me-2"></i>
                                                Edit
                                            </a></li>
                                            <li><a class="dropdown-item text-danger"
                                                   {% if action.action_type == 'trf' %}href="{% url 'transfer_delete' action.id %}"
                                                   {% else %}href="{% url 'transaction_delete' action.id %}"{% endif %}>
                                                <i class="fa-regular fa-trash-can-xmark me-2"></i>
                                                Delete
                                            </a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card hover mt-3"
                     style="width: 100%; height: 50px; border-radius: 10px; border: 1px solid rgba(72, 72, 72, 0.4);">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="{% url 'transaction_add' %}" class="stretched-link"></a>
                        <i class="fa-solid fa-plus fa-xl text-secondary"></i>
                    </div>
                </div>
            </div>

            <div class="d-flex h-100 flex-column col shadow"
                 style="padding: 20px; border-radius: 20px; width: 100%; background-color: #FCFCFC; flex: 1; overflow: auto;">
                <canvas id="myChart"></canvas>

                <hr class="h-divider"/>
            </div>
        </div>
    </div>
{% endblock %}



{% block custom_scripts %}
    <script>

        function stripTrailingZeros(number) {
            return parseFloat(number).toString(); // Removes unnecessary trailing zeros
        }

        function formatDate(isoDate) {
            const date = new Date(isoDate);
            const day = String(date.getDate()).padStart(2, '0'); // Add leading zero
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
            return `${day}/${month}`;
        }

        $(function () {
            $('input[name="daterange"]').daterangepicker({
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'This Week': [moment().startOf('isoWeek'), moment().endOf('isoWeek')],
                    'Last Week': [moment().subtract(1, 'week').startOf('isoWeek'), moment().subtract(1, 'week').endOf('isoWeek')],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'All time': [moment().subtract(100, 'year').startOf('month'), moment()]
                },
                "alwaysShowCalendars": true,
                "locale": {
                    "format": "MM/DD/YYYY",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                "drops": "auto"
            }, function (start, end, label) {
                fetchAndPopulateTable(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
            });


            // Function to fetch data from the API and populate the table
            function fetchAndPopulateTable(startDate, endDate) {
                $.ajax({
                    url: '{% url "budget-api:combined_actions" %}?all_transfers=true', // Update this to your API endpoint
                    method: 'GET',
                    data: {start_date: startDate, end_date: endDate},
                    success: function (response) {
                        populateTable(response.combined_actions);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching data:', error);
                        alert('An error occurred while fetching data. Please try again.');
                    }
                });
            }

            // Function to populate the table dynamically
            function populateTable(actions) {
                const tableBody = $('#combined-actions-body'); // Ensure your table has a tbody with this ID
                tableBody.empty(); // Clear existing rows

                actions.forEach(action => {
                    let amountDisplay = '';

                    if (action.action_type === 'trf') {
                        // For transfers
                        if (action.account_from.currency.id === action.account_to.currency.id) {
                            amountDisplay = `
                    <strong class="m-0 text-secondary">
                        ${stripTrailingZeros(action.amount_from)} ${action.account_from.currency.symbol}
                    </strong>
                `;
                        } else {
                            amountDisplay = `
                    <strong class="m-0 text-secondary">
                        ${stripTrailingZeros(action.amount_from)} ${action.account_from.currency.symbol}
                    </strong>
                    <span class="m-0 text-secondary">
                        (${stripTrailingZeros(action.amount_to)} ${action.account_to.currency.symbol})
                    </span>
                `;
                        }
                    } else {
                        // For transactions
                        if (action.amount_converted) {
                            amountDisplay = `
                    <strong class="m-0 ${action.amount < 0 ? 'text-danger' : 'text-success'}">
                        ${action.amount > 0 ? '+' : ''}${stripTrailingZeros(action.amount)} ${action.currency.symbol}
                    </strong>
                    <span class="m-0 text-secondary">
                        (${action.amount > 0 ? '+' : ''}${stripTrailingZeros(action.amount_converted)} ${action.account.currency.symbol})
                    </span>
                `;
                        } else {
                            console.log(action);
                            amountDisplay = `
                    <strong class="m-0 ${action.amount < 0 ? 'text-danger' : 'text-success'}">
                        ${action.amount > 0 ? '+' : ''}${stripTrailingZeros(action.amount)} ${action.account.currency.symbol}
                    </strong>
                `;
                        }
                    }


                    const row = `
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-center align-items-center rounded-2 me-2"
                                 style="width: 30px; height: 30px; ${action.action_type === 'trf' ? 'background-color: #0CCAF02A' : `background-color: #${action.category.color}2A`}">
                                <i class="${action.action_type === 'trf' ? 'fa-duotone fa-solid fa-right-left' : action.category.icon}"
                                   style="${action.action_type === 'trf' ? 'color: #0CCAF0' : `color: #${action.category.color}`}"></i>
                            </div>
                            ${action.action_type === 'trf' ? 'Transfer' : action.category.name}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            ${action.action_type === 'trf' ? `
                                <div class="d-flex justify-content-center align-items-center me-2">
                                    <i class="${action.account_from.icon}" style="color: #${action.account_from.color}"></i>
                                </div>
                                ${action.account_from.name}
                                <i class="fa-duotone fa-arrow-right mx-2 text-secondary"></i>
                                <div class="d-flex justify-content-center align-items-center me-2">
                                    <i class="${action.account_to.icon}" style="color: #${action.account_to.color}"></i>
                                </div>
                                ${action.account_to.name}
                            ` : `
                                <div class="d-flex justify-content-center align-items-center me-2">
                                    <i class="${action.account.icon}" style="color: #${action.account.color}"></i>
                                </div>
                                ${action.account.name}
                            `}
                        </div>
                    </td>
                    <td class="text-end">
                        ${amountDisplay}
                    </td>
                    <td class="extra-column d-none text-center">
                        <span class="text-secondary">${formatDate(action.date)}</span>
                    </td>
                    <td class="extra-column d-none text-center" style="max-width: 150px;">
                        <span class="text-secondary">${action.description || '...'}</span>
                    </td>
<td class="gap-2 text-end">
                    <div class="dropend">
                        <button class="btn btn-outline-secondary btn-sm" type="button"
                                data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                aria-expanded="false">
                            <i class="fa-regular fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item text-warning"
                                   href="${action.action_type === 'trf'
                        ? '{% url "transfer_edit" 0 %}'.replace('0', action.id)
                        : '{% url "transaction_edit" 0 %}'.replace('0', action.id)}">
                                    <i class="fa-regular fa-pen-to-square me-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-danger"
                                   href="${action.action_type === 'trf'
                        ? '{% url "transfer_delete" 0 %}'.replace('0', action.id)
                        : '{% url "transaction_delete" 0 %}'.replace('0', action.id)}">
                                    <i class="fa-regular fa-trash-can-xmark me-2"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tr>
            `;
                    tableBody.append(row);
                });
            }
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById('toggle-button');
            const tableCol = document.getElementById('table-col');
            const sidebar = document.getElementById('sidebar');
            const table = document.getElementById('txn-table');
            const icon = toggleButton.querySelector('i');

            // Use event delegation for dynamically added rows
            document.addEventListener('click', function (event) {
                const target = event.target;

                // Check if the click is on the toggle button
                if (target.closest('#toggle-button')) {
                    const extraColumns = document.querySelectorAll('.extra-column');

                    // Toggle extra columns visibility
                    extraColumns.forEach(function (column) {
                        if (column.classList.contains('d-none')) {
                            column.classList.remove('d-none');
                        } else {
                            column.classList.add('d-none');
                        }
                    });

                    table.classList.toggle('expanded');
                    tableCol.classList.toggle('expanded-content');
                    sidebar.classList.toggle('minimized');

                    if (icon.classList.contains('fa-expand')) {
                        icon.classList.remove('fa-expand');
                        icon.classList.add('fa-compress');
                        icon.classList.replace('fa-solid', 'fa-regular'); // Replace solid with regular if needed
                    } else {
                        icon.classList.remove('fa-compress');
                        icon.classList.add('fa-expand');
                        icon.classList.replace('fa-regular', 'fa-solid'); // Replace regular with solid if needed
                    }
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        // Fetch data from the API
        fetch('{% url "budget-api:charts_transaction" %}')
            .then(response => response.json())
            .then(data => {
                const labels = data.labels;
                const values = data.data;

                // Create the Chart.js graph
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '$',
                            data: values,
                            borderWidth: 1,
                            borderRadius: 4
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Chart.js Bar Chart with DRF'
                            }
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    </script>

{% endblock %}