{% extends 'base.html' %}

{% block title %}2coins | Login{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/login.css' %}">
{% endblock %}

{% block body %}
    <div class="w-100 h-100 d-flex align-items-center" style="padding: 20px; margin-bottom: 200px">
        <div class="rounded-4 p-5 shadow mx-auto" style="background-color: #FCFCFC; width: 600px;">
            <div id="login-group">
                <h1 class="mb-5 text-center">2coins Login</h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    <div class="row mb-3">
                        <label for="id_username" class="col-sm-3 col-form-label">e-mail</label>
                        <div class="col">
                            <input type="email" required class="form-control" id="id_username"
                                   name="username"
                                   autocomplete="username">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="id_password" class="col-sm-3 col-form-label">Password</label>
                        <div class="col">
                            <input type="password" required id="id_password" class="form-control"
                                   name="password"
                                   autocomplete="current-password">
                        </div>
                    </div>

                    <div class="mb-3">
                        <a href="#" style="color: #4397dc"><p class="text-end">Forgot the password?</p></a>
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-outline-secondary">Log in</button>
                    </div>

                    <p class="text-center">Not registered? <a href="{% url 'register' %}" style="color: #4397dc">Create
                        account</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}