{% extends 'list_objects.html' %}
{% load static %}

{% block custom_static %}
    <link rel="stylesheet" href="{% static 'profiles/profile.css' %}">
{% endblock %}


{% block body %}
    <div class="w-100 p-4 d-flex justify-content-center">

        <div id="profile-card" class="d-flex flex-column align-items-center mt-5 rounded-4 p-4 shadow" style="background-color: #FCFCFC">
            <div id="profile-picture">
                <img src="{% static 'imgs/default_profile_picture.webp' %}" alt="profile picture">
            </div>

            <div class="my-3">
                <hr>
                <p class="mb-1"><b>e-mail:</b> {{ profile.user.email }}</p>
                <p><b>Timezone:</b> {{ profile.timezone }}</p>
            </div>

            <a href="{% url 'profile_edit' %}" class="btn btn-outline-warning px-4">
                Edit profile info
            </a>
        </div>

    </div>
{% endblock %}