{% extends 'base.html' %}

{% block title %}2coins | Registration{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/login.css' %}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 d-flex justify-content-center p-0">
            <div id="login-group">
                <h1 class="mb-5">Register user</h1>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.name == 'username' %}
                            <div class="mb-3">
                                <label for="id_username" class="form-label">Username</label>
                                <input type="text" required
                                       class="form-control {% if field.errors %}is-invalid{% endif %}"
                                       id="id_username" name="username"
                                       autocomplete="username">
                            </div>
                        {% elif field.name == 'email' %}
                            <div class="mb-3">
                                <label for="id_email" class="form-label">E-mail</label>
                                <input type="email" required
                                       class="form-control {% if field.errors %}is-invalid{% endif %}"
                                       id="id_email" name="email"
                                       autocomplete="email">
                            </div>
                        {% elif field.name == 'password1' %}
                            <div class="mb-3">
                                <label for="id_password1" class="form-label">Password</label>
                                <input type="password" required id="id_password1"
                                       class="form-control {% if field.errors %}is-invalid{% endif %}"
                                       name="password1"
                                       autocomplete="new-password">
                                <small class="form-text">{{ field.help_text }}</small>
                            </div>
                        {% elif field.name == 'password2' %}
                            <div class="mb-5">
                                <label for="id_password2" class="form-label">Password confirmation</label>
                                <input type="password" required id="id_password2"
                                       class="form-control {% if field.errors %}is-invalid{% endif %}"
                                       name="password2"
                                       autocomplete="new-password">
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="d-grid mb-4">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                    <p class="text-center">Already registered? <a href="{% url 'login' %}">Login</a></p>
                </form>
            </div>
        </div>

        <div class="col-lg-6 p-0">
            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3087&q=80"
                     alt="Login image">
            </div>
        </div>
    </div>

{% endblock %}