{% extends 'base.html' %}

{% block title %}2coins | Registration{% endblock %}

{% block custom_static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/login.css' %}">
{% endblock %}

{% block body %}
    <div class="w-100 h-100 d-flex align-items-center" style="padding: 20px; margin-bottom: 200px">
        <div class="rounded-4 p-5 shadow mx-auto" style="background-color: #FCFCFC; width: 600px;">
            <div id="login-group">
                <h1 class="mb-5 text-center">2coins Register</h1>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.name == 'email' %}
                            <div class="row mb-3">
                                <label for="id_email" class="col-3 col-form-label">e-mail</label>
                                <div class="col">
                                    <input type="email" required
                                           class="form-control {% if field.errors %}is-invalid{% endif %}"
                                           id="id_email" name="email"
                                           autocomplete="email"
                                           {% if field.value %}value="{{ field.value }}"{% endif %}>
                                </div>
                            </div>
                        {% elif field.name == 'password1' %}
                            <div class="row mb-3">
                                <label for="id_password1" class="col-3 col-form-label">Password</label>
                                <div class="col">
                                    <input type="password" required id="id_password1"
                                           class="form-control {% if field.errors %}is-invalid{% endif %}"
                                           name="password1"
                                           autocomplete="new-password"
                                           {% if field.value %}value="{{ field.value }}"{% endif %}>
                                    <small class="form-text">{{ field.help_text }}</small>
                                </div>
                            </div>
                        {% elif field.name == 'password2' %}
                            <div class="row mb-4">
                                <label for="id_password2" class="col-3 col-form-label">Password confirmation</label>
                                <div class="col">
                                    <input type="password" required id="id_password2"
                                           class="form-control {% if field.errors %}is-invalid{% endif %} mb-1"
                                           name="password2"
                                           autocomplete="new-password"
                                           {% if field.value %}value="{{ field.value }}"{% endif %}>
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="d-grid mb-4">
                        <button type="submit" class="btn btn-outline-secondary">Register</button>
                    </div>

                    <p class="text-center">Already registered? <a href="{% url 'login' %}"
                                                                  style="color: #4397dc">Login</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}